<div class="starship">
    <img [src]="starship.image" [alt]="starship.name">
    <div class="starship__description">
        <div class="starship__descriptionItem">
            Name: <strong>{{ starship.name }}</strong>
        </div>
        <div class="starship__descriptionItem">
            Model: <strong>{{ starship.model }}</strong>
        </div>
        <div class="starship__descriptionItem">
            Crew: <strong>{{ starship.crew }}</strong>
        </div>
        <div class="starship__descriptionItem">
            Wins: <strong>{{ starship.wins }}</strong>
        </div>
    </div>
</div>